

<div class = 'card' *ngFor="let pokemon of pokemons">
  <div class = 'card__info' >
    <h2 (click)="handleDisplay(pokemon.position) ">{{pokemon.name}}</h2>
    <div class="card__info-type">
      <h4 *ngFor="let type of pokemon.type">
        {{type.type.name}}
      </h4>
    </div>
  </div>
  <img (click)="handleDisplay(pokemon.position) " src={{pokemon.image}} alt="pokemon">

  <div class="display" id="{{pokemon.position}}">
    <h2>{{pokemon.name}}</h2>
    <img (click)="handleDisplay(pokemon.position) "  src="https://i.postimg.cc/ZKMxcdbb/pokeball.png" alt="pokeball">
    <div class = 'stats__info'>
      <h4   *ngFor="let stat of pokemon.stat">{{stat.stat.name}}: <br>{{stat.base_stat}}</h4><br>
    </div>
  </div>
</div>



